# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Dataset folders (IMPORTANT)
dataset/
Anti-UAV-RGBT/
*.mp4
*.avi
*.png
*.jpg
prepared_dataset/
# Generated fog outputs
*visible_fog*
*infrared_fog*
*_fog_*
# yolov5 repo
yolov5/
# Large files
*.zip
*.tar
*.tar.gz

# OS
.DS_Store
Thumbs.db