# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Dataset folders (IMPORTANT)
dataset/
Anti-UAV-RGBT/
*.mp4
*.avi
*.png
*.jpg
prepared_dataset/
runs/
# Generated fog outputs
*visible_fog*
*infrared_fog*
*_fog_*.png
*_fog_*.jpg
*_fog_*.mp4
*_fog_*.avi
# yolov5 repo
yolov5/
# Large files
*.zip
*.tar
*.tar.gz

# OS
.DS_Store
Thumbs.db